body {
  background-color: white;
  font-family: "courier new", courier, monospace;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: left; /* Left-align text */
  max-width: 600px; /* Restrict text width */
  margin: 0 auto; /* Center block horizontally */
  padding: 20px 0; /* Add space above and below the header */
  font-size: 1.25rem; /* Use relative units */
  color: #050505;
}

p,
h2 {
  background-color: white;
  text-align: left; /* Keep text left-aligned */
  max-width: 600px; /* Match the header width */
  margin: 20px auto; /* Center text block and add vertical spacing */
  font-size: 15px;
  color: #050505;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
