/* CSS inspired by the simplicity Yeezy.com as of 11/17/2024 */

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flex Settings Above */
  background-color: white;
  font-family: "courier new", courier, monospace;
  margin: 0;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* Flex Settings Above */
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Pseudo-element is relative */
}

/* Fade at Bottom of view */
.App::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px; /* Height of the fade */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none; /* Ensure the overlay doesn't interfere */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p,
h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flex Settings Above */
  background-color: white;
  text-align: left; /* Align text to the left */
  max-width: 600px;
  margin: 20px auto;
  font-size: 1rem; /* Use relative units */
  color: #050505;
}

h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flex Settings Above */
  background-color: white;
  text-align: left; /* Align text to the left */
  max-width: 600px;
  margin: 20px auto;
  margin-top: 50px;
  font-size: 1rem; /* Use relative units */
  color: #050505;
  font-style: italic;
}

.custom-margin-bottom {
  margin-bottom: 300px;
}

.custom-margin-top {
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Intro Fade in and out */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introText {
  animation: fadeIn 2s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.content {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.content.visible {
  opacity: 1;
}
